.d--block {
  display: block !important;
}

.d--inline {
  display: inline !important;
}

.d--none {
  display: none !important;
}

.d--contents {
  display: contents !important;
}

.d--flex {
  display: flex !important;
}
