@import '../variables/fonts';

.biblioteca-header {
    
  $header-sizes-map: (
    sm: 22px,
    md: 28px,
    lg: 36px,
    xl: 48px,
  ) !default;

  & {
    padding: 0;
    display: block;
    font-weight: $font-weight-strong;

    @each $size, $value in $header-sizes-map {
      &.biblioteca-header--#{$size} {
        font-size: $value;
        margin-bottom: calc($value / 10);
      }
    }
  }
}
