$border-width-base: 1px !default;
$border-style-base: solid !default;

$border-radius-sm: 2px !default;
$border-radius-md: 4px !default;
$border-radius-lg: 8px !default;
$border-radius-round: 30px !default;
